<ion-view view-title="Trek List">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="mountain in mountains" type="item-text-wrap" href="#/tab/mountains/{{mountain.id}}">
        <img ng-src="{{mountain.face}}">
        <h2>{{mountain.name}}</h2>
        <p>{{mountain.location}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(mountain)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
